# SPDX-FileCopyrightText: 2024, 2025 Hilton Chain <hako@ultrarare.space>
#
# SPDX-License-Identifier: CC0-1.0

if has guix; then
    use_guix --development guix
fi

MAKEFLAGS="-j$(nproc)"
export MAKEFLAGS

testament_path="$(pwd -P)"
guix_load_path="$testament_path/external/guix"
extra_load_paths="$testament_path/config:$testament_path/modules"
export testament_path

for dep in nonguix rosenthal/modules sops-guix/modules; do
    extra_load_paths="$extra_load_paths:$testament_path/external/$dep"
done

GUILE_LOAD_PATH="$extra_load_paths${GUILE_LOAD_PATH:+:}$GUILE_LOAD_PATH"
GUILE_LOAD_COMPILED_PATH="$extra_load_paths${GUILE_LOAD_COMPILED_PATH:+:}$GUILE_LOAD_COMPILED_PATH"
GUIX_PACKAGE_PATH="$extra_load_paths${GUIX_PACKAGE_PATH:+:}$GUIX_PACKAGE_PATH"
if [ -x "$guix_load_path/scripts/guix" ]; then
    GUILE_LOAD_PATH="$guix_load_path${GUILE_LOAD_PATH:+:}$GUILE_LOAD_PATH"
    GUILE_LOAD_COMPILED_PATH="$guix_load_path${GUILE_LOAD_COMPILED_PATH:+:}$GUILE_LOAD_COMPILED_PATH"
    GUIX="$guix_load_path/scripts/guix"
    GUIX_UNINSTALLED=1
    PATH="$guix_load_path/scripts:$guix_load_path:$PATH"
    export GUIX GUIX_UNINSTALLED PATH
fi
export GUILE_LOAD_PATH GUILE_LOAD_COMPILED_PATH GUIX_PACKAGE_PATH
