# SPDX-FileCopyrightText: 2024, 2025 Hilton Chain <hako@ultrarare.space>
#
# SPDX-License-Identifier: CC0-1.0

if has guix; then
    use_guix make
fi

MAKEFLAGS="-j$(nproc)"
export MAKEFLAGS

testament_path="$(pwd -P)"
export testament_path

GUILE_LOAD_PATH="$testament_path/modules${GUILE_LOAD_PATH:+:}$GUILE_LOAD_PATH"
GUIX_PACKAGE_PATH="$testament_path/modules${GUIX_PACKAGE_PATH:+:}$GUIX_PACKAGE_PATH"
export GUILE_LOAD_PATH GUIX_PACKAGE_PATH
