testament_path="${PWD}"
nonguix_path="${testament_path}/dep/nonguix"
rosenthal_path="${testament_path}/dep/rosenthal"
sops_path="${testament_path}/dep/sops-guix/modules"
testament_modules="${testament_path}/gen/modules:${testament_path}/src/modules"
load_paths="${nonguix_path}:${rosenthal_path}:${sops_path}:${testament_modules}"
GUILE_LOAD_PATH="${load_paths}${GUILE_LOAD_PATH:+:}${GUILE_LOAD_PATH}"
GUIX_PACKAGE_PATH="${load_paths}${GUIX_PACKAGE_PATH:+:}${GUIX_PACKAGE_PATH}"
export GUILE_LOAD_PATH GUIX_PACKAGE_PATH testament_path
