# SPDX-FileCopyrightText: 2025 Hilton Chain <hako@ultrarare.space>
#
# SPDX-License-Identifier: CC0-1.0

{
	dns cloudflare {file./run/secrets/cloudflare}
	acme_dns cloudflare {file./run/secrets/cloudflare}
	ech hello.boiledscript.com
	metrics
	log {
		output file /var/log/caddy/caddy.log
		format filter {
			request>remote_ip ip_mask {
				ipv4 20
				ipv6 44
			}
			request>client_ip ip_mask {
				ipv4 20
				ipv6 44
			}
			wrap json
		}
	}
	servers {
		trusted_proxies static private_ranges
		client_ip_headers X-Forwarded-For X-Real-IP
		trusted_proxies_strict
	}
}


(logging) {
	log {
		output file /var/log/caddy/{args[0]}.log
		format filter {
			request>remote_ip ip_mask {
				ipv4 20
				ipv6 44
			}
			request>client_ip ip_mask {
				ipv4 20
				ipv6 44
			}
			wrap json
		}
	}
}

(tailscale) {
	@tailscale client_ip 100.64.0.0/10 fd7a:115c:a1e0::/48
	handle @tailscale {
		{block}
	}
}


# qBittorrent
download.ultrarare.space {
	import logging download.ultrarare.space
	import tailscale {
		reverse_proxy localhost:35951
	}
}
