prefer-no-csd
screenshot-path "~/Pictures/Screenshots/%Y%m%d-%H%M%S.png"

xwayland-satellite {
    path "$$bin/xwayland-satellite$$"
}

// Guix Home (home-shepherd-service-type)
spawn-at-startup "shepherd"

overview {
    backdrop-color "#E8E3E9"
}

hotkey-overlay {
    skip-at-startup
}

window-rule {
    match app-id="librewolf" title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    match app-id="thunar" title="^File Operation Progress$"
    open-floating true
}

// Noctalia
window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
}

debug {
  honor-xdg-activation-with-invalid-serial
}

layout {
    focus-ring {
        off
    }
    border {
        off
    }
}

input {
    keyboard {
        repeat-delay 300
        repeat-rate 30
    }
    touchpad {
        tap
        natural-scroll
    }
    warp-mouse-to-focus
}

output "eDP-1" {
    mode "2560x1440@240.002"
}

output "DP-1" {
    focus-at-startup
}

binds {
    XF86AudioRaiseVolume  allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute         allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
    XF86AudioMicMute      allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "muteInput"; }
    XF86AudioPlay         allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "play"; }
    XF86AudioStop         allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "pause"; }
    XF86AudioPrev         allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "previous"; }
    XF86AudioNext         allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "next"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "brightness" "decrease"; }

    Mod+A           { spawn "noctalia-shell" "ipc" "call" "controlCenter" "toggle"; }
    Mod+O           { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Mod+D           { spawn "noctalia-shell" "ipc" "call" "plugin:clipper" "togglePanel"; }
    Mod+S           { spawn "noctalia-shell" "ipc" "call" "settings" "toggle"; }
    Ctrl+Alt+Delete { spawn "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }
    Mod+Shift+E     { spawn "herd" "restart" "noctalia-shell"; }

    Mod+E       { spawn "emacsclient" "--create-frame" "--no-wait"; }
    Mod+Return  { spawn "foot"; }

    Mod+Left                       { focus-column-left; }
    Mod+Down                       { focus-window-down; }
    Mod+Up                         { focus-window-up; }
    Mod+Right                      { focus-column-right; }

    Mod+Shift+Left                 { move-column-left; }
    Mod+Shift+Down                 { move-window-down; }
    Mod+Shift+Up                   { move-window-up; }
    Mod+Shift+Right                { move-column-right; }

    Mod+WheelScrollDown            { focus-column-right; }
    Mod+WheelScrollUp              { focus-column-left; }

    Mod+Shift+WheelScrollDown      { move-column-right; }
    Mod+Shift+WheelScrollUp        { move-column-left; }

    Mod+Ctrl+Left                  { focus-monitor-left; }
    Mod+Ctrl+Right                 { focus-monitor-right; }

    Mod+Ctrl+Shift+Left            { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+Right           { move-column-to-monitor-right; }

    Mod+Ctrl+WheelScrollDown       { focus-monitor-right; }
    Mod+Ctrl+WheelScrollUp         { focus-monitor-left; }

    Mod+Ctrl+Shift+WheelScrollDown { move-column-to-monitor-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-to-monitor-left; }

    Mod+Comma                      { consume-or-expel-window-left; }
    Mod+Period                     { consume-or-expel-window-right; }
    Mod+F                          { maximize-column; }
    Mod+Shift+F                    { fullscreen-window; }
    Mod+C                          { center-column; }
    Mod+V                          { toggle-window-floating; }
    Mod+Shift+V                    { switch-focus-between-floating-and-tiling; }

    Mod+Shift+Q                    { close-window; }

    Mod+Tab repeat=false           { toggle-overview; }

    Print                          { screenshot; }
    Ctrl+Print                     { screenshot-screen; }
    Alt+Print                      { screenshot-window; }
}
