// SPDX-FileCopyrightText: 2025 Hilton Chain <hako@ultrarare.space>
//
// SPDX-License-Identifier: CC0-1.0

input {
    keyboard {
        xkb {
            layout "us"
            variant "dvorak"
            options "ctrl:nocaps"
        }
        repeat-delay 300
        repeat-rate 30
    }
    touchpad {
        tap
        natural-scroll
    }
    warp-mouse-to-focus
}

output "eDP-2" {
    mode "2560x1440@239.999"
    variable-refresh-rate
}

layout {
    focus-ring {
        off
    }
    border {
        off
    }
}

window-rule {
    match app-id=r#"LibreWolf"# title="^Picture-in-Picture$"
    open-floating true
}
