# SPDX-FileCopyrightText: 2025 Hilton Chain <hako@ultrarare.space>
#
# SPDX-License-Identifier: CC0-1.0

{
	dns cloudflare {file./run/secrets/cloudflare}
	acme_dns cloudflare {file./run/secrets/cloudflare}
	ech hello.boiledscript.com
	log {
		format json
	}
	servers {
		trusted_proxies static private_ranges
		client_ip_headers X-Forwarded-For X-Real-IP
		trusted_proxies_strict
	}
}


(logging) {
	log {
		output file /var/log/caddy/{args[0]}.log
		format filter {
			request>remote_ip ip_mask {
				ipv4 20
				ipv6 44
			}
			request>client_ip ip_mask {
				ipv4 20
				ipv6 44
			}
			wrap json
		}
	}
}


(robots_txt) {
	respond /robots.txt 200 {
		body <<EOF
		User-Agent: *
		Disallow: /

		EOF
	}
}


files.boiledscript.com {
	import robots_txt
	import logging files
	root * /var/lib/webpublic/files
	file_server browse
}

ultrarare.space {
	import logging blog

	root * /var/lib/webpublic/blog
	handle_errors {
		rewrite * /{err.status_code}.html
		file_server
	}

	handle_path /comments/* {
		reverse_proxy localhost:42174
	}
	file_server
}

# Cuirass & Substitutes & Mirrors
ci.ultrarare.space {
	import logging cuirass

	@tailscale client_ip 100.64.0.0/10 fd7a:115c:a1e0::/48
	handle @tailscale {
		reverse_proxy localhost:17732
	}
}

ci.guix.moe {
	import robots_txt
	import logging cuirass

	@guix_publish {
		path /*.narinfo || /file/* || /nar/* || /nix-cache-info || /signing-key.pub
	}
	handle @guix_publish {
		reverse_proxy localhost:49637
	}
	handle /admin/* {
		handle /admin/forgejo/event {
			import /run/secrets/cuirass/forgejo
		}
		handle {
			respond "Access denied" 403 {
				close
			}
		}
	}
	reverse_proxy localhost:17732
}

cache-de.guix.moe, cache.guix.moe {
	import robots_txt
	import logging substitutes

	root * /var/cache/guix/publish
	file_server
}

cache-cdn.guix.moe {
	import robots_txt
	import logging substitutes

	handle /nar/* {
		redir https://nars.guix.moe{uri}
	}
	root * /var/cache/guix/narinfo
	file_server
}

# Forgejo
git.boiledscript.com {
	import $$robots.txt/forgejo$$
	import logging forgejo

	reverse_proxy localhost:48071
}

# Miniflux
reader.boiledscript.com {
	import robots_txt
	import logging miniflux

	reverse_proxy localhost:51787
}

# Misskey
social.boiledscript.com {
	import robots_txt
	import logging misskey

	reverse_proxy localhost:54493
}

# Vaultwarden
vault.boiledscript.com {
	import robots_txt
	import logging vaultwarden

	reverse_proxy localhost:23263
}

:80, :443, mail.boiledscript.com {
	import logging catchall
	respond /* "Access denied" 403 {
		close
	}
}
