# SPDX-FileCopyrightText: 2025 Hilton Chain <hako@ultrarare.space>
#
# SPDX-License-Identifier: CC0-1.0

{
	dns cloudflare {file./run/secrets/cloudflare}
	acme_dns cloudflare {file./run/secrets/cloudflare}
	ech hello.boiledscript.com
	metrics
	log {
		output file /var/log/caddy/caddy.log
		format filter {
			request>remote_ip ip_mask {
				ipv4 20
				ipv6 44
			}
			request>client_ip ip_mask {
				ipv4 20
				ipv6 44
			}
			wrap json
		}
	}
	servers {
		trusted_proxies static private_ranges
		client_ip_headers X-Forwarded-For X-Real-IP
		trusted_proxies_strict
	}
}


(logging) {
	log {
		output file /var/log/caddy/{args[0]}.log
		format filter {
			request>remote_ip ip_mask {
				ipv4 20
				ipv6 44
			}
			request>client_ip ip_mask {
				ipv4 20
				ipv6 44
			}
			wrap json
		}
	}
}

(tailscale) {
	@tailscale client_ip 100.64.0.0/10 fd7a:115c:a1e0::/48
	handle @tailscale {
		{block}
	}
}


(block_bots) {
	import $$share/ai-robots-txt/Caddyfile$$
	handle @aibots {
		respond /robots.txt 200 {
			body <<EOF
			User-Agent: *
			Disallow: /

			EOF
		}
		respond /* "Access denied" 403 {
			close
		}
	}
}


# Komga
http://manga.boiledscript.com, manga.ultrarare.space {
	import block_bots
	import logging manga.boiledscript.com

	import tailscale {
		reverse_proxy localhost:44293
	}
	reverse_proxy localhost:44293
}

# Navidrome
http://music.boiledscript.com, music.ultrarare.space {
	import block_bots
	import logging music.boiledscript.com

	import tailscale {
		reverse_proxy localhost:43502
	}
	reverse_proxy localhost:43502
}

# Jellyfin
http://shows.boiledscript.com, shows.ultrarare.space {
	import block_bots
	import logging shows.boiledscript.com

	import tailscale {
		reverse_proxy localhost:22443
	}
	reverse_proxy localhost:22443
}

# qBittorrent
download.ultrarare.space {
	import logging download.ultrarare.space
	import tailscale {
		reverse_proxy localhost:35951
	}
}


# Grafana
dash.ultrarare.space {
	import logging dash.ultrarare.space
	import tailscale {
		reverse_proxy localhost:13064
	}
}

# Loki
http://logs.boiledscript.com {
	import block_bots
	import logging logs.boiledscript.com
	import /run/secrets/loki
	reverse_proxy localhost:50968
}

# Mimir
http://metrics.boiledscript.com {
	import block_bots
	import logging metrics.boiledscript.com
	import /run/secrets/mimir
	reverse_proxy localhost:49951
}
